# Environment variables used in skills

# for skills/skills/social-search/scripts/socialcrawl.ts
SOCIALCRAWL_API_KEY=sc_123123

# for skills/skills/social-search/scripts/socialdata.ts
SOCIALDATA_API_KEY=5312|abcabc

# for skills/skills/dataforseo/scripts/dataforseo.ts
DATAFORSEO_API_KEY=somekey
